# App artifacts
/_build
/db
/deps
/env
/priv/repo/match_updates.exs
/priv/repo/my_seeds.exs
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules
/assets/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.

/**/.DS_Store
/web/static/assets/images/backup
/web/static/assets/images/logo.*
/web/static/assets/images/logo_navbar.*
/assets/static/images/backup
/assets/static/images/logo.*
/assets/static/images/logo_navbar.*
/uploads
/lib/club_homepage/uploads

/config/club_homepage.exs
/config/dev.exs
/config/prod.secret.exs
/config/test.exs