language: elixir
elixir:
  - 1.9
env:
  - ELIXIR="v1.9.1"
  - APP_VERSION="0.2.0"
  - LANG=de_DE.UTF-8
  - LANGUAGE=de_DE:de 
  - LC_ALL=de_DE.UTF-8
  - TZ='Europe/Berlin'
  - DEBIAN_FRONTEND=noninteractive
services:
  - postgresql
addons:
  postgresql: "9.4"
  code_climate:
    repo_token: 9b11af9ea8801b2ccb0c284725494d4cb3e8b9db66c0c37f0305cb06fe67b9fa
otp_release:
  - 22.0
sudo: false
before_script:
  - export ELIXIR=v1.9.1
  - export LANG=de_DE.UTF-8
  - export LANGUAGE=de_DE:de 
  - export LC_ALL=de_DE.UTF-8
  - export TZ='Europe/Berlin'
  - export DEBIAN_FRONTEND=noninteractive
  - sudo sed -i -e 's/# de_DE.UTF-8 UTF-8/de_DE.UTF-8 UTF-8/' /etc/locale.gen
  - sudo locale-gen
  - echo $TZ | sudo tee /etc/timezone
  - sudo apt-get update -y
  - sudo apt-get install -y tzdata
  - sudo rm /etc/localtime
  - sudo ln -snf /usr/share/zoneinfo/$TZ /etc/localtime
  - sudo dpkg-reconfigure -f noninteractive tzdata
  - sudo ntpdate ntp.ubuntu.com 
  - date
  - mkdir -p vendor/elixir
  - echo "wget -v https://github.com/elixir-lang/elixir/releases/download/$ELIXIR/Precompiled.zip && unzip -qq Precompiled.zip -d vendor/elixir"
  - wget -v https://github.com/elixir-lang/elixir/releases/download/v1.9.1/Precompiled.zip && unzip -qq Precompiled.zip -d vendor/elixir
  - export PATH="$PATH:$PWD/vendor/elixir/bin"
  - mix local.hex --force
  - mix deps.get --only test
#script: MIX_ENV=test mix do deps.get, test
script: MIX_ENV=test mix test
