language: elixir
elixir:
  - 1.5.1
env:
  - ELIXIR="v1.5.1"
services:
  - postgresql
addons:
  postgresql: "9.4"
otp_release:
  - 19.0
sudo: false
before_script:
  - mkdir -p vendor/elixir
  - wget -q https://github.com/elixir-lang/elixir/releases/download/$ELIXIR/Precompiled.zip && unzip -qq Precompiled.zip -d vendor/elixir
  - export PATH="$PATH:$PWD/vendor/elixir/bin"
  - mix local.hex --force
  - mix deps.get --only test
#script: MIX_ENV=test mix do deps.get, test
script: MIX_ENV=test mix test
