language: elixir
elixir:
  - 1.6
env:
  - ELIXIR="v1.6.0"
services:
  - postgresql
addons:
  postgresql: "9.4"
otp_release:
  - 19.0
sudo: false
before_script:
  - echo 'Berlin/Europe' | sudo tee /etc/timezone
  - sudo dpkg-reconfigure --frontend noninteractive tzdata
  - mkdir -p vendor/elixir
  - wget -q https://github.com/elixir-lang/elixir/releases/download/$ELIXIR/Precompiled.zip && unzip -qq Precompiled.zip -d vendor/elixir
  - export PATH="$PATH:$PWD/vendor/elixir/bin"
  - mix local.hex --force
  - mix deps.get --only test
#script: MIX_ENV=test mix do deps.get, test
script: MIX_ENV=test mix test
addons:
 code_climate:
   repo_token: 9b11af9ea8801b2ccb0c284725494d4cb3e8b9db66c0c37f0305cb06fe67b9fa
