<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= assigns[:title] || full_club_name() %></title>
    <meta name="description" content="<%= assigns[:meta] || "Default" %>" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="background-image-01" data-localization="<%= javascript_localization_options() %>">
    <div class="fluid-container <%= action_name(@conn) %>" role="main">
      <%= render "navbar_top.html", conn: @conn, current_user: @current_user, weather_data: @weather_data, birthdays: @birthdays, my_payment_lists: @my_payment_lists %>
      <%= render "flash_messages.html", conn: @conn %>

      <div class="content-container">
        <%= if controller_module(@conn) == ClubHomepage.Web.PageController && action_name(@conn) == :index do %>
          <section class="header">
            <h1><%= full_club_name() %></h1>
          </section>
        <% end %>

        <section id="boxcontent">
          <%= render @view_module, @view_template, assigns %>
        </section>
      </div>

    </div> <!-- /container -->

    <footer class="footer">
      <%= render "navbar_bottom.html", conn: @conn %>
    </footer>

    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
