<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="jumbotron content-box">
      <h2><%= gettext("password_forgotten_question") %></h2>
      <%= render("forgot_password_form.html", conn: @conn) %>
    </div>
  </div>
</div>
