<div class="form-group new-record-element <%= error_cls @changeset, @f, :competition_id %>" data-href="<%= Routes.competition_path(@conn, :new) %>">
  <%= select(@f, :competition_id, @competition_options, class: "js-match-competition-select", placeholder: gettext("select_competition_placeholder"), prompt: gettext("select_competition_placeholder"), "data-competition-ids-mnd": "[#{Enum.join(@competition_ids_need_decition, ",")}]") %>
  <%= error_tag @changeset, @f, :competition_id %>
</div>
