<h2>Edit match</h2>

<%= render "form.html", changeset: @changeset,
                        action: match_path(@conn, :update, @match) %>

<%= link gettext("all") <> " " <> gettext("matches"), to: match_path(@conn, :index) %>
