<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="jumbotron content-box">
      <h2><%= gettext("create_new_matches") %></h2>

      <%= render "form_bulk.html", conn: @conn, changeset: @changeset,
      action: matches_path(@conn, :create_bulk),
      season_options: @season_options,
      team_options: @team_options
      %>

      <%= link gettext("all") <> " " <> gettext("matches"), to: match_path(@conn, :index) %>
    </div>
  </div>
</div>
