<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="jumbotron content-box">
            <h2><%= gettext("edit_address") %></h2>

            <%= render "form.html", changeset: @changeset,
                        action: address_path(@conn, :update, @address) %>

            <%= link gettext("all") <> " " <> gettext("addresses"), to: address_path(@conn, :index) %>
        </div>
    </div>
</div>
