<h2><%= gettext("edit_address") %></h2>

<%= render "form.html", changeset: @changeset,
                        action: address_path(@conn, :update, @address) %>

<%= link gettext("all") <> " " <> gettext("addresses"), to: address_path(@conn, :index) %>
