<h2>Show beer list drinker</h2>

<ul>

  <li>
    <strong>Beer list:</strong>
    <%= @beer_list_drinker.beer_list_id %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @beer_list_drinker.user_id %>
  </li>

  <li>
    <strong>Beers:</strong>
    <%= @beer_list_drinker.beers %>
  </li>

</ul>

<%= link "Edit", to: beer_list_drinker_path(@conn, :edit, @beer_list_drinker) %>
<%= link "Back", to: beer_list_drinker_path(@conn, :index) %>
