<h2>Show text page</h2>

<ul>

  <li>
    <strong>Key:</strong>
    <%= @text_page.key %>
  </li>

  <li>
    <strong>Text:</strong>
    <%= @text_page.text %>
  </li>

</ul>

<%= link "Edit", to: text_page_path(@conn, :edit, @text_page) %>
<%= link "Back", to: text_page_path(@conn, :index) %>
