<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="jumbotron content-box">
      <h2><%= gettext("edit_team") %></h2>

      <%= render "form.html", changeset: @changeset,
                        action: team_path(@conn, :update, @team) %>

      <%= link gettext("all") <> " " <> gettext("teams"), to: team_path(@conn, :index) %>
    </div>
  </div>
</div>
