<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="jumbotron content-box">
      <h1><%= @team.name %></h1>


      <%= link gettext("all") <> " " <> gettext("teams"), to: team_path(@conn, :index) %>
    </div>
  </div>
</div>
