<h2>Edit meeting point</h2>

<%= render "form.html", changeset: @changeset,
                        action: meeting_point_path(@conn, :update, @meeting_point) %>

<%= link "Back", to: meeting_point_path(@conn, :index) %>
