<h2>New meeting point</h2>

<%= render "form.html", changeset: @changeset,
                        action: meeting_point_path(@conn, :create) %>

<%= link "Back", to: meeting_point_path(@conn, :index) %>
