<div class="flash-messages">
  <% info = get_flash(@conn, :info) %>
  <%= if info do %>
    <p class="alert alert-info" role="alert">
      <%= info %>
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
    </p>
  <% end %>
  <% error = get_flash(@conn, :error) %>
  <%= if error do %>
    <p class="alert alert-danger" role="alert"><%= error %></p>
  <% end %>
</div>
