<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="jumbotron content-box">
      <h2><%= gettext("show_competition") %></h2>

      <ul>

        <li>
          <strong><%= gettext("name") %>:</strong>
          <%= @competition.name %>
        </li>

      </ul>

      <%= link "Edit", to: competition_path(@conn, :edit, @competition) %>
      <%= link "Back", to: competition_path(@conn, :index) %>
    </div>
  </div>
</div>
