<h2>New opponent team</h2>

<%= render "form.html", changeset: @changeset,
                        action: opponent_team_path(@conn, :create) %>

<%= link "Back", to: opponent_team_path(@conn, :index) %>
