<h2><%= gettext("create_new_opponent_team") %></h2>

<%= render "form.html", changeset: @changeset,
                        action: opponent_team_path(@conn, :create) %>

<%= link gettext("all") <> " " <> gettext("opponent_teams"), to: opponent_team_path(@conn, :index) %>
