use Mix.Config

# Configure your database
config :club_homepage, ClubHomepage.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "club_homepage_dev",
  hostname: "localhost",
  pool_size: 10