body {
  padding-top:50px;
  padding-bottom:50px;
}

form.link {
  display: inline-block;
}

a.anchor, a.anchor:hover, a.anchor:focus {
  color: inherit;
  text-decoration: none;
}

.table > thead > tr > th {
  vertical-align: top;
}
.table td.buttons {
  vertical-align: middle;
}

/*! bootstrap overrides */
.navbar-default {
  border-color:transparent; 
}

.navbar {
  border-radius:0px;
}

.nav.nav-tabs {
  margin-bottom: 20px;
}

.flash-messages .alert {
  border-radius: 0px;
}

.jumbotron { 
  opacity:0.9;
  padding:20px;
}
.jumbotron h1 {
  font-size: 40px;
  text-align: center;
}

h2 .failure-reason {
  font-size: 50%;
}
button h2 {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/*! styles */
.background-image-01 {
  background: url('/images/background_01.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content-container {
  padding: 40px 0px 20px 0px;
}

section.header {
  padding:10px 5px;
}
section.header h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.jumbotron.content-box {
  border-radius:4px;
}
.jumbotron.content-box h2 {
  margin-top:0px;
}
.jumbotron.content-box .list-group {
  margin-bottom:0px;
}

.css-home-match input[type=radio] {
}
.css-home-match label {
  padding-left: 0px;
  text-align: left !important;
}

.css-user-roles label {
  text-align: left !important;
}

.css-news-item form {
  display: inline-block;
}

.css-matches td.text-right,
.css-matches td.text-left {
  width: 45%;
}
.css-matches td.text-center {
  width: 10%;
}

input.css-goals {
  width: 40px;
  text-align: center;
}

.css-step {
  font-weight: bold;
}