body {
  padding-top:50px;
  padding-bottom:50px;
}

.table > thead > tr > th {
  vertical-align: top;
}

/*! bootstrap overrides */
.navbar-default {
  border-color:transparent; 
}

.navbar {
  border-radius:0px;
}

.jumbotron {
  opacity:0.9;
  padding:20px;
}

/*! styles */
.background-image-01 {
  background-image:url('/images/background_02.jpg');
  background-size:cover;
  padding:50px 20px 20px 20px;
}


section.header {
  padding:10px 5px;
}
section.header h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.jumbotron.content-box {
  border-radius:4px;
}
.jumbotron.content-box h2 {
  margin-top:0px;
}
.jumbotron.content-box .list-group {
  margin-bottom:0px;
}

.css-home-match input[type=radio] {
  display: inline-block;
}
.css-home-match label {
  line-height: 34px;
  margin-right: 30px;
  position: relative;
  top: -12px;
}

.css-news-item form {
  display: inline-block;
}