<h2>New sponsor image</h2>

<%= render "form.html", changeset: @changeset,
                        action: sponsor_image_path(@conn, :create) %>

<%= link "Back", to: sponsor_image_path(@conn, :index) %>
