<h2>Show sponsor image</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @sponsor_image.name %>
  </li>

  <li>
    <strong>Attachment:</strong>
    <%= @sponsor_image.attachment[:file_name] %>
  </li>

</ul>

<%= link "Edit", to: sponsor_image_path(@conn, :edit, @sponsor_image) %>
<%= link "Back", to: sponsor_image_path(@conn, :index) %>
