<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="jumbotron content-box">
      <h2><%= gettext("create_new_secret") %></h2>

      <p><%= gettext("create_new_secret_notice") %></p>

      <%= render "form.html", changeset: @changeset,
                              action: secret_path(@conn, :create) %>

      <%#= link gettext("all") <> " " <> gettext("secrets"), to: secret_path(@conn, :index) %>
    </div>
  </div>
</div>
