<h2><%= gettext("edit_secret") %></h2>

<%= render "form.html", changeset: @changeset,
                        action: secret_path(@conn, :update, @secret) %>

<%= link gettext("all") <> " " <> gettext("secrets"), to: secret_path(@conn, :index) %>
