<%= form_for @changeset, @action, fn f -> %>
  <%= show_form_errors(@changeset, f) %>

  <div class="form-group">
    <%= text_input f, :email, class: "form-control", placeholder: "E-Mail (#{gettext("optional")})" %>
  </div>

  <div class="form-group">
    <%= submit gettext("save"), class: "btn btn-primary" %>
  </div>
<% end %>
