<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="jumbotron content-box">
          <h2><%= gettext("show_secret") %></h2>

          <p><%= @secret.key %></p>
          <p><a href="mailto:?subject=Registration&body=<%= @secret.key %>">E-Mail</a></p>

          <%= link gettext("all") <> " " <> gettext("secrets"), to: secret_path(@conn, :index), class: "btn btn-default" %>
        </div>
    </div>
</div>
