<h2>Show permalink</h2>

<ul>

  <li>
    <strong>Source path:</strong>
    <%= @permalink.source_path %>
  </li>

  <li>
    <strong>Destination path:</strong>
    <%= @permalink.destination_path %>
  </li>

</ul>

<%= link gettext("edit_permalink"), to: Routes.permalink_path(@conn, :edit, @permalink), class: "btn btn-default" %>
<%= link gettext("all") <> " " <> gettext("permalinks"), to: Routes.permalink_path(@conn, :index), class: "btn btn-default" %>
