<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= assigns[:title] || full_club_name() %></title>
    <meta name="description" content="<%= assigns[:meta] || "Default" %>" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <%= if templateable_asset_path?("/favicon.ico") do %>
      <link rel="shortcut icon" href="/favicon.ico">
    <% end %>
    <%= if templateable_asset_path?("/images/favicon_32x32.png") do %>
      <link rel="icon" type="image/png" href="/images/favicon_32x32.png" sizes="32x32">
    <% end %>
    <%= if templateable_asset_path?("/images/favicon_96x96.png") do %>
      <link rel="icon" type="image/png" href="/images/favicon_96x96.png" sizes="96x96">
    <% end %>
    <%= if templateable_asset_path?("/images/apple_touch_icon_180x180.png") do %>
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple_touch_icon_180x180.png">
    <% end %>
  </head>
  <body class="<%= background_image_cls() %>" data-localization="<%= javascript_localization_options() %>">
    <div class="fluid-container <%= action_name(@conn) %>" role="main">
      <%= render "navbar_top.html", conn: @conn, current_user: @current_user, weather_data: @weather_data, birthdays: @birthdays, my_payment_lists: @my_payment_lists %>
      <%= render "flash_messages.html", conn: @conn %>

      <div class="content-container">
        <%= if controller_module(@conn) == ClubHomepage.Web.PageController && action_name(@conn) == :index do %>
          <section class="header">
            <h1><%= full_club_name() %></h1>
          </section>
        <% end %>

        <section id="boxcontent">
          <%= render @view_module, @view_template, assigns %>
        </section>
      </div>

    </div> <!-- /container -->

    <footer class="footer">
      <%= render "navbar_bottom.html", conn: @conn %>
    </footer>

    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
