<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="jumbotron content-box">
            <h2><%= gettext("latest_news") %></h2>

            <%= render("index_link_bar.html", conn: @conn) %>

            <%= for news <- @news do %>
              <%= render("index_item.html", conn: @conn, news: news) %>
            <% end %>

            <%= render("index_link_bar.html", conn: @conn) %>
        </div>
    </div>
</div>
