<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="jumbotron content-box">
      <h1><%= gettext("registration_information") %></h1>
      <%= raw(@page_content.text) %>
    </div>
  </div>
</div>
